@media only screen and (max-width: 540px) {
    .img-circle {
        width: 70px;
        height: 70px;
    }
}

@media only screen and (max-width: 767px) {
    .img-circle {
        width: 90px;
        height: 90px;
    }
    .width-res {
        width: 100% !important;
    }
}

@media only screen and (max-width: 700px) {
    .popup-modal-content {
        width: 100%;
    }
}
